* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 100;
}

h1 {
    font-weight: 500;
}

.app--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0 25px 0;
}

.app--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    width: 750px;
    border: 2px solid black;
}

/* Header */

.header--container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header--wrapper {
    width: 97%;
    height: 100%;
    background-color: #b43f3f;
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.header--img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.header--wrapper h1 {
    text-align: center;
    color: white;
    font-size: 18px;
}

/* Search */

.search--container {
    width: 97%;
    height: 60px;
}

.search--wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 8px;
}

input {
    width: 340px;
    height: 26px;
    border-radius: 6px;
    border: 2px solid lightgray;
    padding: 4px;
}


/* Items */

.item--container {
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item--wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.item--left {
    width: 35%;
}

.item--right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item--right--top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.item--right--top > * {
    margin-right: 10px;
}

.item--right--top a {
    text-decoration: none;
    color: #2867ff;
}

.item--location {
    width: 11px;
    height: 14px;
}

.item--img {
    width: 200px;
    height: 280px;
}

.item--right h1 {
    margin-bottom: 20px;
}

.item--right p {
    margin-bottom: 5px;
}

.item--country {
    margin-bottom: 0 !important;
}